[Unit]
Description=Cassandra Database Service
After=network-online.target
Requires=network-online.target
 
[Service]
User=cassandra
Group=cassandra
ExecStart=/opt/cassandra/apache-cassandra-{{ CASSANDRA_VERSION }}/bin/cassandra -f
OOMScoreAdjust=-1000
Restart=always
 
[Install]
WantedBy=cassandra.target
